package {{.PackageName}}
{{.Imports.Model}}

type {{.Name}} struct {
		{{range .Properties}} {{.Name}} {{.Type}} {{.Tag}}
		{{end}}
}
 
type {{.Name}}List []*{{.Name}}

func(m {{.Name}}List) Ids() (ids []{{.Id.Type}}) {
	for _, mm := range m {
		ids = append(ids, mm.{{.Id.Name}})
	}
	return
}